*{
    margin:0;
    
}
html{
    height: 100%;
}
body{
    display: grid;
    grid-template-areas: 
    "header header "
    "kont container";
    grid-template-columns: 1fr 4fr;
    height: 100%;
    background-color: #b1d4cd;
    color: #06202B;
    min-width: 700px;
    gap: 16px;
}

#header{
    grid-area: header;
    height: 45vh;
    background-image: url(pozadina.jpg);
    background-repeat: no-repeat;
    background-size: 160% 160%;
    background-position: -200px 0px;
    box-shadow: 0px 5px 15px;
}
#kontakt img{
    width: 200px;
    border-radius: 50%;
    margin-bottom: 30px;
    
}
#kontakt{
    grid-area: kont;
    background-color: #F5EEDD;
    margin-left: 40px;
    border-radius: 15% 15% 0 0;
    
}
#kontakt ul{
    list-style: none;
    padding-left: 0px;
}

#kontakt .card{
    position: relative;
    top: -20vh;
    background-color: #F5EEDD;
    min-width: 230px;
    padding-left: 30px;
    padding-top: 30px;
    border-radius: 15% 15% 0 0;

}

.text{
    color: #1b8b77;
    font-weight: bold;
}

.container{
    padding-top: 40px;
    grid-area: container;
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    gap: 20px;
    justify-content: space-evenly;
    
}


.container div h3{
    background-color: #06202B;
    color: #F5EEDD;
    padding: 5px 30px;
    border-radius: 10px 10px 0px 0px;

}
.container div p, .container div ul{
    padding: 20px 40px 40px 40px;
    font-size: 17px;
    line-height: 1.3rem;
    text-align: justify;
    
}
#bio, #obrazovanie, #veshtini{
    background-color: #F5EEDD;
    margin-bottom: 10px;
    border-radius: 10px 10px;
    box-shadow: -5px 5px 15px;
}

@media all and (max-width: 1080px){
    html{
        width: 100%;
    }
    body{
        grid-template-areas: 
            "header"
            "container"
            "kont";
        grid-template-columns: 100%;
        min-width: 100%;
        height: 100%;
    }
    .container{
        padding-top: 40px;
        grid-template-columns: 80%;
        grid-template-rows: repeat(3, minmax(350px,fit-content));
        width: 100%;
    }
    
    #kontakt{
       width: 77vw;
       margin-left: 9vw;
       
    }
    #kontakt img{
        margin-left: 30%;
    }
    #kontakt .card{
        min-width: 0;
        width: 60%;
        
        position: static;
        top: auto;

    }
}
